{
	"semi": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 250,
	"endOfLine": "auto",
	"singleQuote": true,
	"proseWrap": "preserve",
	"trailingComma": "none",
	"bracketSameLine": true,
	"htmlWhitespaceSensitivity": "ignore"
}
